// Post Preview Pages

.post-preview {
	> a {
		&:hover,
		&:focus {
			text-decoration: none;
		}

		> .post-title {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 10px;
		}

		> .post-subtitle {
			margin: 0;
			font-weight: 300;
			margin-bottom: 10px;
		}
	}

	> .post-meta {
		font-size: 18px;
		font-style: italic;
		margin-top: 0;

		> a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	@media only screen and (min-width: 768px) {
		> a {
			> .post-title {
				font-size: 36px;
			}
		}
	}
}
