@import "../node_modules/bootstrap/less/mixins/clearfix";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.navbar {
    border-radius: 0;
}

.form-group {
    sup {
        color: #f00;
        margin-left: 2px;
    }
}

.form-horizontal {
    .control-label {
        text-align: left;
        padding-top: 7px; // Why???
    }

    .nav-tabs {
        margin-top: 10px;

        > li {
            float: right;

            .dropdown-toggle {
                border: 0;
            }
        }
    }
}

.headline {
    .clearfix();
    margin-bottom: 30px;

    h4 {
        font-size: 1.8rem;
        font-weight: bold;
        float: left;
        margin-bottom: 0;
        margin-top: 13px;

        @media (max-width: 576px) {
            float: none;
        }

        a {
            font-size: 1.3rem;
            margin-left: 10px;
        }
    }
}

.list-group {
    display: table;
}
