// Header

.intro-header {

	// NOTE: Background images are set within the HTML using inline CSS!
	margin-bottom: 50px;

	.site-heading,
	.post-heading,
	.page-heading {
		padding: 100px 0 50px;
		color: #fff;

		@media only screen and (min-width: 768px) {
			padding: 150px 0;
		}
	}

	.site-heading,
	.page-heading {
		text-align: center;

		h1 {
			margin-top: 0;
			font-size: 50px;
		}

		.subheading {
			font-size: 24px;
			line-height: 1.1;
			display: block;
			font-weight: 300;
			margin: 10px 0 0;
		}

		@media only screen and (min-width: 768px) {
			h1 {
				font-size: 80px;
			}
		}
	}

	.post-heading {
		h1 {
			font-size: 35px;
		}

		.subheading,
		.meta {
			line-height: 1.1;
			display: block;
		}

		.subheading {
			font-size: 24px;
			margin: 10px 0 30px;
			font-weight: 600;
		}

		.meta {
			font-style: italic;
			font-weight: 300;
			font-size: 20px;

			a {
				color: #fff;
			}
		}

		@media only screen and (min-width: 768px) {
			h1 {
				font-size: 55px;
			}

			.subheading {
				font-size: 30px;
			}
		}
	}
}

