.rbc-calendar-container,
.rbc-calendar {
	min-height: 800px;
}

.accepted {
	.rbc-event {
		// color: @btn-primary-color;
		// background-color: @btn-primary-bg;
	}
}

.new {
	.rbc-event {
		// color: @btn-warning-color;
		// background-color: @btn-warning-bg;
	}
}
