.social {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-image: url("/img/social-icons.jpg");
    background-repeat: no-repeat;

    &.facebook {
        background-position: 0 0;
    }

    &.google {
        background-position: -600px 0;
    }

    &.purimotors {
        background-position: -600px -200px;
    }
}
