.colors-dropdown {
	&.btn-group {
		width: 100%;
	}
}

.colors-menu {
	padding: 2px;
	min-width: auto;
	border-spacing: 3px;
	border-collapse: separate;

	tbody {
		tr {
			td {
				cursor: pointer;
				width: 20px;
				height: 20px;

				&:hover {
					outline-width: 2px;
					outline-style: solid;
					outline-color: Highlight;

					@media (-webkit-min-device-pixel-ratio: 0) {
						outline-color: -webkit-focus-ring-color;
						outline-style: auto;
					}
				}
			}
		}
	}
}
