.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url("/img/landing/banner-bg.jpg") no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width: 1199px) {
    .banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
        font-size: 3em;
    }

    .banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    .banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
