.darkroom {
    .btn-group {
        position: absolute;
        margin-top: 30px;
    }

    .darkroom-canvas {
        display: block;
        background: #fff;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        text-align: center;

        img {
            display: none;
        }
    }
}

.image-editor {
    .modal-dialog {
        width: 642px;

        .darkroom-canvas {
            // color: @input-color-placeholder;
            position: relative;

            .placeholder {
                font-size: 64px;
                position: absolute;
                z-index: 1;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                overflow: hidden;

                .glyphicon {
                    font-size: 475px;
                }
            }

            canvas {
                z-index: 2;
                position: relative;
                background-color: #fff;
            }

            .progress-bar-container {
                position: absolute;
                z-index: 3;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .15);
                padding: 290px 20px 0;
            }
        }
    }
}
