.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}

.btn-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-uploader {
    position: relative;
    display: inline-block;

    .btn-toolbar-image {
        position: absolute;
        margin: 10px 5px;
    }
}
