@import "typeahead";
@import "imageuploader";
@import "glyph";
@import "../node_modules/bootstrap-daterangepicker/daterangepicker.css";

.pagination-centered {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.list-group {
    .list-group-item {
        padding: 10px;
    }
}

.auto-modal {
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.media {
    overflow: visible;

    @media (max-width: 576px) {
        display: flex;
        flex-wrap: wrap;
    }

    .media-heading {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 24px;
    }

    .media-body {
        @media (max-width: 576px) {
            order: 1;
        }
    }

    .media-left {
        text-align: center;

        @media (max-width: 576px) {
            order: 2;
            width: 100%;
        }

        .media-object {
            display: inline-block;
        }

        .btn-toolbar {
            .btn {
                float: none;
            }
        }
    }
}

.btn-group-view {
    & > .btn {
        width: 50%;
    }
}

.img-thumbnail {
    a {
        display: block;
    }
}

.media-left {
    padding-right: 20px;
}
