.form-group {
    sup {
        color: #f00;
        margin-left: 2px;
    }

    .nav > li > a {
        padding: 5px 10px;
    }

    .nav-tabs {
        border-bottom: none;
    }

    textarea {
        resize: none;
    }

    .markdown {
        &:extend(.form-control);
        height: 100px;
        overflow: scroll;
    }
}
